<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">



<suite name="Parallel Browser Suite">

  <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <groups>
        <run>
        
        </run>
        
        
        </groups>
        <classes>
            
            <class name="com.qa.TestCases.HomeTest"/>
            <class name="com.qa.TestCases.AccountTest"/>
            
           
        </classes>
    </test>
    
     

    

</suite>